header {
  background: rgb(54,0,51);
  background: linear-gradient(245deg, rgba(54,0,51,1) 0%, rgba(11,135,147,1) 100%);
  color: aliceblue;
}

footer {
  background: rgb(54,0,51);
  background: linear-gradient(245deg, rgba(54,0,51,1) 0%, rgba(11,135,147,1) 100%);
  color: aliceblue;
}

code {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
}

.table-props {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

.td-props, .th-props {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.tr-props:nth-child(even) {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.bm-menu {
  background: rgb(54,0,51);
  background: linear-gradient(245deg, rgba(54,0,51,1) 0%, rgba(11,135,147,1) 100%);
  color: aliceblue;
  background-size: 400% 400%;
	animation: r-gradient 15s ease infinite;
}

.bm-menu-wrap {
  width: 400px !important;
}

.reactive-log {
  width: 32px;
  height: 32px;
}

.menu-icon {
  width: 0.875em;
  height: 0.875em;
  fill: #fff;
}

.git-icon {
  width: 24px;
  height: 24px;
  fill: royalblue;
}

.atom-icon {
  width: 64px;
  height: 64px;
}

._404 {
  margin-top: 20%;
}

.css-div {
  background: #1b3350;
  width: 100px;
  height: 100px;
}

.css-div2 {
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  width: 100%;
  height: 50px;
  background-size: 400% 400%;
	animation: r-gradient 15s ease infinite;
}

/*login example css*/
.r-login-regist {
  background: salmon !important;
}

.r-login-login {
  background: green !important;
}

.r-login-spinner {
  color: red;
}

.r-login-user-name {
  background: rgb(54,0,51);
}

.r-login-password{
  background: saddlebrown;
}

.r-login-google {
  background: red;
}

.r-login-icon {
  width: 256px;
  height: 256px;
}

.r-login-recover {
  background: #1de840;
}

.r-login-cancel-recover {
  background: orange;
}

.r-login-regist-form {
  background: #1b3350;
}

.r-login-cancel-regist {
  background: blueviolet;
}
/*=====================*/