header {
  background: rgb(54,0,51);
  background: linear-gradient(245deg, rgba(54,0,51,1) 0%, rgba(11,135,147,1) 100%);
  color: aliceblue;
}

footer {
  background: rgb(54,0,51);
  background: linear-gradient(245deg, rgba(54,0,51,1) 0%, rgba(11,135,147,1) 100%);
  color: aliceblue;
}

code {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
}

.table-props {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

.td-props, .th-props {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.tr-props:nth-child(even) {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.bm-menu {
  background: rgb(54,0,51);
  background: linear-gradient(245deg, rgba(54,0,51,1) 0%, rgba(11,135,147,1) 100%);
  color: aliceblue;
}

.reactive-log {
  width: 32px;
  height: 32px;
}

.app-container {
  padding-bottom: 100px;
}