header {
  background: rgb(54,0,51);
  background: linear-gradient(245deg, rgba(54,0,51,1) 0%, rgba(11,135,147,1) 100%);
  color: aliceblue;
}

footer {
  background:#292d3e;
  color: aliceblue;
}

.reactive-log {
  width: 32px;
  height: 32px;
}

.tree {
  padding-bottom: 100px;
}