/*TABLE*/
.load-table-indicator-reactive {
  color: aqua;
}

.action-row-reactive {
	width: 100px;
}
 
/*Form input*/
.shake-error-reactive {
  animation: shake-error-reactive 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 0.5em #F44336;
}

@keyframes shake-error-reactive {
  0% { margin-left: 0rem; }
  25% { margin-left: 0.5rem; }
  75% { margin-left: -0.5rem; }
  100% { margin-left: 0rem; }
}

/*Circle Button*/
.btn-circle-reactive {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

/*Field animation*/ 
.error-field-reactive {
	animation: error-field 0.2s ease-in-out 0s 2;
	box-shadow: 0 0 0.5em #F44336;
}

@keyframes error-field-reactive {
	0% { margin-left: 0rem; }
	25% { margin-left: 0.5rem; }
	75% { margin-left: -0.5rem; }
	100% { margin-left: 0rem; }
}

/*Add animation*/
.add-reactive {
  animation: add-reactive .5s ease-in-out;
}

@keyframes add-reactive {
  from {
    transform: scale(0);
    opacity: 0;
    background: #5470B0;
  }
}

/*Edit animation*/
.edit-reactive {
	animation: edit-reactive 0.4s ease;
}

@keyframes edit-reactive {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/*Drop animation*/
.drop-reactive  {
  animation: drop-reactive 1.2s forwards;
}

@keyframes drop-reactive  {
  0% {
    transform-origin: center;
    opacity: 1;
  }
  20% {
    transform: 
      translate3d(0, 20px, 0)
      rotate3d(0, 0, 1, -10deg);
    opacity: 1;
  }
  40%, 45% {
    transform: 
      translate3d(0, -120px, 0)
      rotate3d(0, 0, 1, 10deg);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: 
      translate3d(0, 2000px, 0)
      rotate3d(0, 0, 1, 10deg);
  }
}

/*No result animation*/
.no-result-reactive {
	animation-name: no-result-reactive;
	-webkit-animation-name: no-result-reactive;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes no-result-reactive {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes no-result-reactive {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}
/*=====================================================*/

/*Header*/
.header-reactive {
  padding: 10px 16px;
  margin-bottom: 50px;
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
}

.sticky-reactive {
  position: fixed;
  top: 0;
	width: 100%;
	z-index: 100;
	box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
}
/*=================================================*/

/*Footer*/
html { 
  height: 100%; 
}

body {
  min-height: 100%; 
  position: relative; 
  padding-bottom: [footer-reactive-height];
}

.footer-reactive { 
  position: absolute; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  height: [footer-reactive-height];
  box-shadow: 2px -2px 8px 1px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
/*=================================================*/

/*Tree*/
.tree-reactive {
  padding: 0;
  background: transparent;
  border-bottom: 0;
  width: auto;
}

.tree-button-reactive {
  background: transparent;
  border: 0;
}
/*=================================================*/






/* Position and sizing of burger button */
.burger-reactive {
  width: 36px;
  height: 30px;
  flex: 0 0 5%;
}

.bureger-item-reactive {
  padding: 0;
  margin-bottom: 0;
  background-color: transparent;
  border-bottom: 0px;
}

.bureger-item-content-reactive {
  padding: 0px;
  padding-left: 35px;
}

.bureger-item-layout-reactive {
  background: transparent;
  border: 0px;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  margin-top: 5px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: ghostwhite;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: gray;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: -1px;
  left: -1px;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top: -1px;
}