<?xml version="1.0" encoding="UTF-8"?>
<root>
  <layout extension=".view.tsx" suffix="View" folder="true">import React, { Component } from 'react';
import { connect } from 'reactive';

interface Props { }

interface State { }

class ${name} extends Component${(}Props, State${)} {

  componentDidMount() { }

  render() {
    return (
      ${(}${)}
        ${fileName} rendered
      ${(}/${)}
    );
  }
}

const mapStateToProps = (state: any) => ({
  //exampleData: state.exampleData
});

const mapDispatchToProps = (dispatch: Function) => ({
  //setExampleData: () => dispatch(setExampleData(example))
});

export default connect(mapStateToProps, mapDispatchToProps)(${name});</layout>

  <success>module was create</success>
</root>