/*Circle Button*/
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

/*Drop animation*/
.drop {
  animation: drop 1.2s forwards;
}

@keyframes drop {
  0% {
    transform-origin: center;
    opacity: 1;
  }
  20% {
    transform: 
      translate3d(0, 20px, 0)
      rotate3d(0, 0, 1, -10deg);
    opacity: 1;
  }
  40%, 45% {
    transform: 
      translate3d(0, -120px, 0)
      rotate3d(0, 0, 1, 10deg);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: 
      translate3d(0, 2000px, 0)
      rotate3d(0, 0, 1, 10deg);
  }
}