<?xml version="1.0" encoding="UTF-8"?>
<root>
  <layout extension="Controller.java" suffix="Controller" folder="false">package ${smartPackage};

import java.util.Map;

import org.springframework.http.ResponseEntity;
import org.springframework.web.bind.annotation.*;
import org.springframework.web.server.ResponseStatusException;


@CrossOrigin(origins = "*")
@RestController
@RequestMapping("/example")
public class ${name} {

	//Your service instances here

	/**
	 	@apiGroup ExamplePost
		@apiVersion 0.0.1
		@apiDescription Your description
		@api {post} example/examplePost/ examplePost
		@apiPermission none

		@apiParamExample {json} Request-Body:
			{
				your request body
			}

		@apiSuccessExample {json} HTTP/1.1 200 OK
			{
				your ok json response 
			}

		@apiErrorExample {json} HTTP/1.1 400 Bad Request
			{
				your bad request json response
			}

		@apiErrorExample {json} HTTP/1.1 500 Internal Server Error
			{
				your internal server error json response
			}
	*/
	@PostMapping("/examplePost")
	public ResponseEntity${(}Object> examplePost(
		@RequestBody Map${(}String, Object> req
	) {
		try {
			return null;
		} catch (ResponseStatusException e) {
			return null;
		}
	}

}
  </layout>

  <success>module was create</success>
</root>